<!--toolbar, se trata de um contêiner para títulos, cabeçalhos e botões -->
<mat-toolbar class ="header mat-elevation-z4"> <!-- deixa elevado / faz parte do Angular/material -> npm install @angular/material-->
  <span>
    <a routerLink="/"> <!-- ao clicar no link volta pra tela de inicio-->
      <img class="logo" src="assets/img/coder.jpg" alt="logo">
    </a>
  </span>
  <span class="title-group">
    <a>
      <i class="material-icons">
        home
      </i>
      Inicio
    </a>
  </span>
</mat-toolbar>
